<% layout('../layouts/main') %>

<script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
<script>
    var socket = io();
</script>

<ul id="messages"></ul>
<form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>