<% layout('layouts/main') %>

<% block('title', '403'); %><br>

<div class="jumbotron">
    <h1>403</h1>

    <p>
        Доступ к данному разделу доступен только после <a href="/auth" title="Перейти на страницу авторизации">авторизации</a>!
    </p>
</div>